* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position: relative;
    font-weight: 400;
    font-family: "Muller";
    font-style: normal;
    background: #E5E5E5;
}


.none {
    display: none !important;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 27px 0 27px 45px;
}

h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

color: #000000;
}

li + li {
    padding-left: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header__container{
    width: 1170px;
    margin: 0 auto;
    background-color: rgb(179, 142, 212);
}

.header__main{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.number{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    padding: 47px 0;
}

.header__btn{
    display: flex;
    margin: 45px 0;
    width: 155px;
    height: 24px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.button img{
    width: 24px;
    height: 24px;
}

button p{
    margin: 0 0 0 5px;
    font-size: 16px;
    line-height: 16px;

    color: #CC9933;
}

/* navigation */

.header__navigation{
    display: flex;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 70px;
}



.navigation__btn{
    width: 107px;
    height: 42px;

    margin: 14px 0;
    

    border: 1px solid #CC9933;
    border-radius: 10px;

    font-size: 16px;
    line-height: 16px;

    color: #CC9933;
}

.navigation__btn:first-child{
    margin-left: 114px;
}
.navigation__btn + .navigation__btn{
    width: 177px;
    height: 42px;
    margin-left: 35px;
    margin-right: 45px;
}

/* special offer */

.main-title{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;

    color: #333333;
}

.special__offer-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.special-img{
    width: 573px;
    height: 258px;
    border-radius: 15px;
    word-break: inherit;
}
 .special-img:nth-child(2){
    width: 573px;
    height: 540px;
}

.special-img:nth-child(1) {
    margin-bottom: 24px;
}

/* Ниже костыль карты Крит */

.special-img:nth-child(3) {
    margin-top: -258px;
    margin-bottom: 70px;
} 

/* About main */


.about-subtitle{
    width: 888px;
    font-size: 16px;
    line-height: 32px;

    color: #000000;

    margin-bottom: 70px;
}

/* services main */

.main__services{
    margin-bottom: 70px;
}

.main__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card__services{
    margin-bottom: 24px;
    width: 573px;
    background: #FFFFFF;
    border-radius: 15px;
    align-items: center;
}
.card__services:nth-child(3), .card__services:nth-child(4){
    margin-bottom: 0;
}
.sevices__logo{
    border-radius: 15px 15px 0px 0px;
}



.card__services-text{
    padding-top: 26px;
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}


.sevices__link{
    display: flex;
    color: #CC9933;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}
a .services__row{
    margin-left: 10px;
}

.services-subtitle{
    width: 440px;
    padding-left: 45px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 32px;



    color: #000000;

}

/* main Advantages */

.main__advantages-card{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.advantages-card{
    width: 276px;
    height: 276px;
    
    margin-left: 22px;
    margin-bottom: 22px;
    
    background: #FFFFFF;
    border-radius: 15px;
    
}


.advantages-card:nth-child(1), .advantages-card:nth-child(5){
    margin-left: 0;
}

.advantages-card:nth-child(5),.advantages-card:nth-child(6),
.advantages-card:nth-child(7),.advantages-card:nth-child(8){
    margin-bottom: 0;
}

.advantages-card img{
    margin-top: 40px;
    margin-left: 45px;
}
.advantages-card p{
    margin-top: 10px;
    margin-left: 45px;

    width: 189px;
    height: 128px;

    font-size: 16px;
    line-height: 32px;

    color: #000000;
}

.main__placement-card{
    display: flex;
    flex-wrap: wrap;
}

.placement-card{
    width: 374px;
    height: 440px;

    background-color: #ffffff;

    border-radius: 15px 15px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.placement-logo{
    border-radius: 15px 15px 0px 0px;
}

.placement-card:nth-child(1), .placement-card:nth-child(4), .placement-card:nth-child(7){
    margin-left: 0;
}

.placement-card:nth-child(7), .placement-card:nth-child(8), .placement-card:nth-child(9){
    margin-bottom: 70px;
}
.placement-price-star{
    padding-left: 45px;
    display: flex;
    align-items: center;
}

.price{
    display: flex;
    padding-top: 32px;
    align-items: center;
}

.price_1{
    font-size: 16px;
    line-height: 16px;
    
    color: #999999;
}
.price_2{
    padding-left: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    color: #000000;
}

.price_3{
    padding-left: 4px;

    font-size: 16px;
    line-height: 16px;

    color: #000000;
}
.reting_motel{
    padding-top: 35px;
    padding-left: 52px;
    display: flex;
}

.star{
    margin-left: 6px;
}

.star:first-child{
    margin-left: 0;
}

.placement-card > p {
    padding-top: 16px;
    padding-left: 45px;
}
.btn_motel{
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 45px;

    padding: 13px 20px;
    font-size: 16px;
    line-height: 16px;


    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

/* main tur */

/* .main__want-tur{
    height: 256px;
    background: #428560;
    border-radius: 15px;
}

.tur-title {
    padding-top: 45px;
    padding-left: 40px;
    padding-bottom: 20px;
    
    font-size: 40px;
    line-height: 40px;

    color: #000000;
}

.search_tur{
    display: flex;
    margin-left: 45px;
    width: 1080px;
    height: 106px;

    border-radius: 15px;
    background-color: #FFFFFF;
    
}

.tur-block{
    display: flex;
    margin-left: 28px;
    margin-top: 32px;
    
    width: 169px;
    height: 43px;
    
}


.tur-subtitle{
    margin-bottom: 15px;
    align-items: center;
}

.tur-down{
    align-items: center;
}

.row-down-img{
    margin-top: 33px;
    margin-left: 26px;
    width: 10px;
    height: 6px;
} */
.contacts-text-img{
    padding: 45px;

    display: flex;
    justify-content: space-between;
    height: 618px;
    border-radius: 15px;
    background: #FFFFFF;
}

.contacts-text{
    max-width: 375px;
    max-height: 528px;
}

.line{
    width: 375px;
    height: 1px;    

    margin-bottom: 25px;

    background: #e9e9e9;
}

.contacts-img{
    width: 653px;
    height: 528px;
}

.df{
    display: flex;
    width: 375px;
}

.contacts-location, contacts-number, contacts-work{
    height: 72px;
}

.contacts-email{
    height: 122px;
}

.contacts-location p{
    width: 213px;
    height: 48px;

    margin-left: 83px;
    
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.contacts-number{
    text-align: center;
    display: flex;
}

.contacts-number p{
    width: 151px;
    height: 24px;
    margin-left: 47px;

    font-size: 16px;
    line-height: 24px;


    color: #CC9933;
}
.tel{
    margin-bottom: 23px;
}

.contacts-text-email{
    margin-left: 93px;
}

.text{
    width: 223px;
    height: 24px;

    font-size: 16px;
    line-height: 24px;

    color: #999999;
}

.email{
    font-size: 16px;
    line-height: 24px;

    color: #CC9933;
}

.contacts-work{
    margin-bottom: 23px;
}

.contacts-work p{
    margin-left: 74px;
}

.line:nth-child(8){
    margin-bottom: 45px;
}

.location_btn{

display: flex;
justify-content: center;
align-items: center;

width: 213px;
height: 70px;

color: #CC9933;

border: 1px solid #CC9933;
border-radius: 10px;
}

/* footer */

.footer{
    padding: 45px 45px 0 45px;
    width: 1170px;
    height: 341px;

    display: flex;

    background: #333333;
    border-radius: 15px;
}
.footer-white{
    font-size: 16px;
    line-height: 30px;



    color: #FFFFFF;
}

.footer-copy{
    width: 302px;
    height: 60px;
    margin-bottom: 37px;
}

.footer-info{
    width: 302px;
    height: 90px;
    margin-bottom: 40px;
}

.user-offer{
    font-size: 16px;
    line-height: 24px;

    color: #CC9933;
}

.footer-loc-contact{
    margin-left: 125px;
}

.footer-loc{
    width: 359px;
    height: 30px;
    margin-bottom: 15px;
}
.footer-loc-contact .footer-number{
    font-size: 16px;
    line-height: 150%;

    margin-bottom: 15px;

    color: #CC9933;
}
.footer-number:nth-child(2){
    margin-bottom: 0;
}

.footer-loc-contact .footer-email{
    font-size: 16px;
    line-height: 24px;


    color: #CC9933;
}
footer{
    position: relative;
}

.footer-img{
    position: absolute;
    right: 177px;
    bottom: 0;
}
.footer-social{
    padding-left: 269px;
    display: flex;
    flex-direction: column;

}

.link-social{
    padding-top: 20px;
}
.link-social:nth-child(1){
    padding-top: 0;
}